

@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>التقدم لهذه الوظيفة</h4>
        <div>
            @{
                if (ViewBag.Result != null && ViewBag.Color == null)
                {
                    <h3 style="color:red">@ViewBag.Result</h3>
                }
                else
                {
                    <h3 style="color:forestgreen">@ViewBag.Result</h3>
                }
            }
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("رسالتك", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Message", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Message", "", new { @class = "text-danger" })
            </div>
        </div>

        

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تأكيد" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("الرجوع الى القائمة", "Index")
</div>
