@model IEnumerable<EgyGobs.Models.Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert alert-info" >
    <h2>مرحبا بك</h2>
    <p style="color: black">مرحبا بك فى فضاء البحث عن الوظائف باختلاف اصنافها. يمكنك نشر وظيفة ان كنت ناشرا ويمكنك التقدم للوظيفة اذا كنت باحث عن عمل</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>

@foreach (var item in Model)
{
<div class="panel panel-info">
    <div class="panel-heading"><h1>@Html.DisplayFor(modelitem => item.CategoryName)</h1></div>

    <div class="row panel-body">
        <h5>@Html.DisplayFor(modelitem => item.description)</h5>
        @foreach (var subitem in item.jobs)
        {


            <div class="col-md-3 thumbnail" style="margin-bottom:30px; margin-left:20px; min-height:380px ; background-color:azure">
                <img src="@Url.Action("UserPhotos", "Home" , new { id = subitem.Id} )" />

                <h3>@Html.DisplayFor(modelitem => subitem.JobTitle)</h3>
                <h3>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelitem => subitem.JobContent).ToString())) </h3>
                @Html.ActionLink("التفاصيل", "Details", new { job_Id = subitem.Id }, new { @class = "btn btn-primary" })
            </div>


        }
    </div>
</div>
}

